
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;

}

.section-container-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  column-gap: 32px;
  box-sizing: border-box;
  padding-bottom: 120px;
}

.section-container-grid h1 {
  font-size: 60px;
  padding-top: 80px;
  margin: 0;
  grid-column-start: 1;
  grid-column-end: 13;
}

.section-container-grid h2 {
  font-size: 28px;
  font-weight: 400;
  padding-top: 0px;
  grid-column-start: 1;
  grid-column-end: 13;
}

.section-container {
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;

  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;

  grid-column-start: 4;
  grid-column-end: 10;
}



@media only screen and (max-width: 769px) {

.section-container-grid {
  padding-top: 0;
  padding-bottom: 80px;
}

.section-container-grid h1 {
  font-size: 40px;
}

.section-container-grid h2 {
  font-size: 24px;
  grid-column-start: 2;
  grid-column-end: 12;
}

.section-container {
  grid-column-start: 2;
  grid-column-end: 12;
}


}