.home-marquee {
  height: 64px;
  background-color: hsla(259, 96%, 59%);

}

.home-marquee h1 {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 28px;
  font-weight: 500;
  text-align: left;
  width: 100%;
  margin: 0 auto; 
}