.nav-container {
  background-color: black;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 24px;
  font-weight: 500;
  text-align: left;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 20px;
  padding: 20px 0;
  padding: 24px 12px;

  position: absolute;
  z-index: 99;
}

.nav-button {
  display: none;
}

@media only screen and (min-width: 770px) {
  .nav-container {
    font-size: 28px;
    width: calc(100vw - 88px);
    padding: 44px;
    position: relative;
  }

  .nav-button {
    background-color: hsla(259, 96%, 59%);
    border: none;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
      sans-serif, Apple Color Emoji, Segoe UI Emoji;
    font-size: 28px;
    font-weight: 500;
    border-radius: 90px;
  }

  .nav-button a,
  a:hover,
  a:visited,
  a:active {
    color: inherit;
    text-decoration: none;
  }
}
