.nav-link-container-outer {
  display: none;
}

.nav-link-container-inner {
  background-color: white;
  color: black;
  width: calc(100% - 24px);
  margin-left: auto;
  margin-right: auto;
  margin-top: 68px;
  padding: 48px 0;
  display: flex;
  flex-direction: column;
}

.nav-container {
  background-color: black;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 24px;
  font-weight: 500;
  text-align: left;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  width: calc(100% - 24px);
  height: 20px;
  padding: 24px 12px;

  position: absolute;
  z-index: 99;
}

.nav-button {
  display: none;
}

.links-nav-container-outer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav-icon-container {
  display: block;
  background-color: transparent;
  border: none;
  padding:0;
  margin:0;
}

#navBackground.show {
  display: block;
}

#navBackground.hide {
  display: none;
}

#navLinks.show {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#navLinks.hide {
  display: none;
}

.nav-background {
  display: none;
  background-color: transparent;
  background-color: hsla(259, 96%, 59%, 0.86);

  z-index: -1;

  position: fixed;
  padding: 0;
  margin: 0;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

.nav-link-container-outer a {
  font-size: 36px;
  font-weight: 600;
  color: black;
  text-align: center;
  padding: 24px 0;
  text-decoration: none;
}



@media only screen and (min-width: 770px) {

  a.mobile-only {
    display: none;
  }



  .nav-link-container-outer {
    display: block;
    float: right;
  }

  .nav-link-container-inner {
    background-color: transparent;
    color: white;
    flex-direction: row;
  }

  .nav-icon-container {
    display: none;
  }

  .nav-container {
    font-size: 28px;
    width: calc(100vw - 88px);
    padding: 44px;
    position: relative;
  }

  .nav-button {
    background-color: hsla(259, 96%, 59%);
    border: none;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
      sans-serif, Apple Color Emoji, Segoe UI Emoji;
    font-size: 28px;
    font-weight: 500;
    border-radius: 90px;

    right: 44px;
    position: absolute;
  }


  .nav-button a,
  a:hover,
  a:visited,
  a:active {
    color: inherit;
    text-decoration: none;
  }
}
