.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  width: calc(100vw - 88px);
  height: 20px;
  padding: 44px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 28px;
  font-weight: 500;
  align-items: center;
}

.nav-button {
  background-color: hsla(259, 96%, 59%);
  border: none;
  color: white;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 28px;
  font-weight: 500;
  border-radius: 90px;
}

.nav-button a,
a:hover,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}

@media only screen and (max-width: 769px) {
  .nav-container {
    /* display: none; */

    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    column-gap: 32px;
    box-sizing: border-box;
    width: 100%;
    padding: 20px 0;
    text-align: left;

  }

  .nav-container div {
    grid-column-start: 1;
    grid-column-end:12;
    padding: 0 12px;
  }

  .nav-container {
    font-size: 24px;
  }

  .nav-button {
    display: none;
  }
}
